/*body*/
body
{
    background-color: #000000;
}

#top_nav 
{
    background-color: #F7FE72;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


main
{
    margin-left: 130px;
    margin-right: 130px;
}

a
{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: #000000;
}

a:hover 
{
    color: #FF6F67;
}

.yellow_a 
{
    color: #F7FE72;
}

p
{

    color: #828A95;
}

.centered_p
{
    text-align: center;
    color: #FFC7C4;
}

img 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 
{
    font-family: 'Staatliches', cursive;
    color: #D0241B;
    text-align: center;
}

h2
{
    font-family: 'Passion One', cursive;
    color: #F7FE72;
    text-align: center;
}

li
{
    color: #FFC7C4;
}

#click
{
    color: #02040F;
}


/*contract.html*/
.contract_p
{
    color: #FFC7C4;
}


/*tables.html*/
table{
    margin: 0px auto;
    border-collapse: collapse;
    background-color: #F7FE72;
}

th, td 
{
    border: 2px solid #000000;
    padding: 10px;
    color: #000000;
}

.tables_heading 
{
    text-align: center;
}

ol 
{
    margin-left: auto;
    margin-right: auto;
    display: table;
}

h3
{
    color: #F7FE72;
    text-align: center;
}

/*form.html*/
form
{
    text-align: center;
    border: 1px solid #000000;
    padding: 20px;
    background-color: #F7FE72;

    margin-left: 200px;
    margin-right: 200px;
}

/*footer*/
footer
{
    text-align: center;
}

.a_foot
{
    color: #828A95;
}


