/*nav*/
body {
    background-color: #000000;
}

#top_nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 35px 20px 35px;

    background-color: #F7FE72;

}

a {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: #000000;
}

/*main*/
main {
    margin-left: 130px;
    margin-right: 130px;
}

a:hover {
    color: #FF6F67;
}

.yellow_a {
    color: #F7FE72;
}

p {
    font-family: 'Oswald', sans-serif;
    color: #828A95;
}

#centered_p {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #FFC7C4;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Staatliches', cursive;
    color: #D0241B;
    text-align: center;
}

h2 {
    font-family: 'Passion One', cursive;
    color: #F7FE72;
    text-align: center;
}

li {
    color: #D0241B;
}

#click {
    color: #02040F;
}

/*introduction.html*/
.intro_li {
    font-family: 'Oswald', sans-serif;
    color: #D0241B;
}

.container {
    border: solid 3px #ffffff;
    background-color: #F7FE72;
}

/*contract.html*/
.contract_p {
    color: #D0241B;
}


/*tables.html*/
table {
    margin: 0px auto;
    border-collapse: collapse;
    background-color: #F7FE72;
    border: 4px solid #D0241B;
}

th, td {
    font-family: 'Oswald', sans-serif;
    border: 2px solid #000000;
    padding: 10px;
    color: #000000;
}

.tables_heading {
    text-align: center;
}

ol {
    font-family: 'Oswald', sans-serif;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

h3 {
    color: #F7FE72;
    text-align: center;
}

/*form.html*/
form {
    text-align: center;
    padding: 20px;
    
    margin-left: 200px;
    margin-right: 200px;
}

/*web.html*/
ul {
    
    font-family: 'Oswald', sans-serif;
}

h4 {
    color: #D0241B;   
}

/*firstscript.html*/
#kings-problems {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
}


/*polygons*/
#center-container {
    text-align: center;
}

#polygons {
    width: 100px;
    padding: 10px;
    background-color: white;
}

/*footer*/
footer {
    text-align: center;
    padding: 10px;
}

.a_foot {
    color: #828A95;
}

#validator {
    display: flex;
    justify-content: center;
}


