body {
    background-color: #000000;
}

/*nav*/
a {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: #000000;
}

.nav-container {
    display: flex;
    justify-content: center;
}

.top-nav {
    overflow: hidden;
    height: 80px;
    background-color: #F7FE72;
}

.top-nav a {
    float: left;
    text-align: center;
    padding: 15px;
    background-color: white;
}

.top-nav li {
    list-style: none;
}

.top-nav a, .dropdown, .drop-button {
    margin: 15px 20px 10px 20px;
    border: black solid 1px;
    background-color: white;
    width: fit-content;
    height: fit-content;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    border-radius: 2px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .drop-button {
    border: none;
    outline: none;
    padding: 15px;
    margin: 0;
}

.top-nav a:hover, .dropdown:hover .drop-button {
    background-color: #D0241B;
    color: white;
}

.drop-content {
    display: none;
    position: absolute;
    z-index: 1;
    text-align: center;
}

.drop-content a {
    float: none;
    padding: 10px;
    display: block;
    text-align: left;
    width: 100px;
    margin: 0;
}

.dropdown:hover .drop-content {
    display: block;
}

/*main*/
a:hover {
    color: #FF6F67;
}

.yellow_a {
    color: #F7FE72;
}

p {
    font-family: 'Oswald', sans-serif;
    color: #828A95;
}

#centered_p {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #FFC7C4;
}

#akita {
    border-radius: 50%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Staatliches', cursive;
    color: #D0241B;
    text-align: center;
    font-size: 2.5em;
}

h2 {
    font-family: 'Passion One', cursive;
    color: #F7FE72;
    text-align: center;
    font-size: 2em;
}

li {
    color: #D0241B;
}

#click {
    color: #02040F;
}

/*introduction lists*/
.intro_li {
    font-family: 'Oswald', sans-serif;
    color: #D0241B;
}

/*big yellow containers*/
.big-container {
    border: solid 3px white;
    border-radius: 5px;
    background-color: #F7FE72;
    width: 70%;
    padding: 10px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*small yellow container*/
.small-container {
    border: solid 3px white;
    border-radius: 5px;
    background-color: #F7FE72;
    width: 50%;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*contract.html*/
.contract_p {
    color: #D0241B;
}

/*tables.html*/
table {
    margin: 0px auto;
    border-collapse: collapse;
    background-color: #F7FE72;
    border: 4px solid #D0241B;
}

th, td {
    font-family: 'Oswald', sans-serif;
    border: 2px solid #000000;
    padding: 10px;
    color: #000000;
}

.tables_heading {
    text-align: center;
}

ol {
    font-family: 'Oswald', sans-serif;
    /*
    margin-left: auto;
    margin-right: auto;
    */
    display: table;
}

h3 {
    font-family: 'Oswald', sans-serif;
    color: #F7FE72;
    text-align: center;
    font-size: 20px;
}

/*form.html*/
form {
    padding: 10px;
    color:black;
}

input {
    width: 100%;
    margin: 5px 5px 5px 0px;
    padding: 5px;
    border: solid 1px black;
    box-sizing: border-box;
    border-radius: 5px;
}

#form-box {
    background-color: #F7FE72;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 3px rgb(255, 255, 255);
    border-radius: 5px;
    width: 20%;
}

.center-stuff {
    text-align: center;
    border: solid 3px rgb(146, 0, 0);
}

#black-p {
    color: black;
    text-align: center;
}

.form-txt {
    margin: 5px;
    display: flex;
    justify-content: center;
}

.small-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.yes-no {
    margin: 5px;
    text-align: center;
    width: 50px;
}


#drop {
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#yes-no-container {
    display: flex;
    justify-content: center;
}

/*web.html*/
ul {
    font-family: 'Oswald', sans-serif;
}

h4 {
    color: #D0241B;   
}

/*firstscript.html*/
#kings-problems {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
}

#displayMessage {
    color: #D0241B; 
}

#lastMessage {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #D0241B;  
}

#add-padding {
    padding: 15px;
}

.five-buttons {
    width: 100px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.submit-buttons {
    width: 90px;
    padding: 3px;
    background-color: white;
    border-radius: 10px;
}

.submit-buttons:hover {
    background-color: #D0241B;
    color: white;
}

/*polygons*/
#center-container {
    text-align: center;
}

.buttons {
    width: 100px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.buttons:hover {
    background-color: #D0241B;
    color: white;
}

/*calculator prac*/
#calc-border {
    border: 2px solid black;
    background-color: #F7FE72;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 300px;

}

#display {
    padding: 30px;
    border: 3px solid black;
}

#row1 {
    border: 1px solid rgb(255, 0, 0);
}

#row2 {
    border: 1px solid rgb(38, 0, 255);
}

#row3 {
    border: 1px solid rgb(9, 255, 0);
}

.keys {
    border: 1px solid black;
    padding: 10px;
    width: 30px;
    
}

.keys:hover {
    background-color: #D0241B;
    color: white;
}

/*calcuulator fcc*/
#calc-container {
    text-align: center;
}

.calculator {
    border: 5px solid #F7FE72;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 15em;
    overflow: hidden;
}

.output {
    background-color: #FFC7C4;
    color: black;
    padding: 2em 0.75em;
    text-align: right;
}

.calc-keys {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
}

.calc-keys > * {
    background-color: white;
    padding: .5em 1.25em;
    position: relative;
    text-align: center;
}

.calc-keys > *:active::before,
.calc-keys > .is-depressed::before {
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.operator {
    background-color: #FF6F67;
}

.equal {
    background-color: #FF6F67;
    grid-column: -2;
    grid-row: 2 / span 4;
}


/*arrays.html*/



/*slideshow.html*/
.slider-container {
    border: solid 3px white;
    border-radius: 5px;
    background-color: #F7FE72;
    width: 35%;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slide-a {
    text-decoration: none;
}

.slider-inner {
    overflow: hidden;
    padding: 5px;
    width: fit-content;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.akita-img {
    display: none;
    border: 3px solid black;
    border-radius: 5px;
}

#active {
    display: inline-block;
}

.slider-buttons {
    width: fit-content;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

#back, #next {
    width: 100px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    margin: 3px;
    font-weight: bold;
}

#back:hover, #next:hover {
    background-color: red;
    color: white;
    font-weight: bold;
}

/*imageswap*/
#image-swap-container {
    width: fit-content;
    background-color: #FFF8F0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

#screen {
    width: fit-content;
    padding-top: 3px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

#big-screen {
    width: 500px;
    height: 350px;
    border: 1px solid black;
    background-color: black;
}

#image-swap-container .slides {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slides {
    margin: 5px 0px 0px 0px;
    width: fit-content;
    background-color: #F7FE72;
}

.slides-img:hover {
    background-color: black;
    filter: grayscale(100%);
}

.slides-img {
    height: 150px;
    width: 150px;
    border: 2px solid red;
    object-fit: cover;
    padding: 2px;
    margin: 2px;
    border-radius: 50%;
}

/*Project Proposal*/
#red-p {
    color: red;
    font-size: 15px;
    margin: 10px;
}

#client-info {
    width: fit-content;
    background-color: #F7FE72;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 15px;
    display: block;
    margin: auto;
}

#client-info p {
    color: red;
    margin: 5px;
}

/*footer*/
footer {
    margin: 5px;
    text-align: center;
    padding: 10px;
}

.a_foot {
    color: #828A95;
}

#validator {
    display: flex;
    justify-content: center;
}


