/*index.html & introduction.html*/
body
{
    font-family: 'Staatliches', cursive;
    background-color: #f0f7f2;
    margin: 50px;
}

a
{
    text-decoration: none;
}

p
{
    text-align: center;
    color: #383838;
}

img 
{
    width: 100%;
}

h1 
{
    font-family: 'Passion One', cursive;
    color: #0C1618;
    text-align: center;
}

h2 
{
    font-family: 'Luckiest Guy', cursive;
    color: #25452e;
    text-align: center;
}

nav {
    text-align: center;
    margin: 10px;
} 

li
{
    color: #383838;
}



/*footer*/
footer{
    text-align: center;
}

.valiPic 
{
    float: auto;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
}

/*tables.html*/
table{
    margin: 0px auto;
}

th, td 
{
    border: 2px solid black;
    padding: 10px;
}

.tables_heading 
{
    text-align: center;
}

ol 
{
    margin-left: auto;
    margin-right: auto;
    display: table;
}

/*form.html*/
form
{
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    background-color: rgb(185, 185, 247);

    margin-left: 200px;
    margin-right: 200px;
}