body {
    background-color: #e7e6e3;
}

/*header*/
h1 {
    font-family: 'Merriweather', serif;
    text-align: center;
}

#top-nav {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 50px 20px 50px;
    background-color: black;
}

.nav-box {
    padding: 10px;
    background-color: azure;
}

.nav-box:hover {
    background-color: red;
}

a {
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}
/*main*/

.h-container {
    display: flex;
    justify-content: center;
}
h2, h3 {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    width: 150px;
    color: #F6EFEE;
    background-color: rgb(0, 0, 0);
}

h4 {
    font-family: 'Roboto Condensed', sans-serif;
}

/*center image*/
.center-img {
    border: 2px solid #202C39;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*paragraphs*/
.para {
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 25%;
    margin-right: 25%;
    padding: 5px;
    border: 1px solid rgb(61, 61, 61);
    background-color: rgb(247, 234, 221);
}

/*img container*/
.container {
    display: flex;
    justify-content: center;
}

/*3 img side by side*/
.pic-row1 {
    width: 300px;
    margin: 5px;
    text-align: center;
}

.pic-row2 {
    width: 300px;
    margin: 5px;
    text-align: center;
}

.pic-row3 {
    width: 300px;
    margin: 5px;
    text-align: center;
}

/*2 img side by side*/
.box1 {
    width: 350px;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.box2 {
    width: 350px;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

/*casualties*/
.center-p  {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    background-color: rgb(207, 207, 207);
    width: 200px;
}

/*footer*/
footer {
    width: auto;
}

#copyright {
    text-align: center;
}

#validator {
    display: flex;
    justify-content: center;
}


