<header>
    <nav class = "top-nav">
        <div class = "nav-container">
                <a href = "index.html">Home</a>
                <a href = "introduction.html">Introduction</a>
                <a href = "contract.html">Contract</a>
            <div class = "dropdown">
                <button class = "drop-button">HTML/CSS</button>
                <div class = "drop-content">
                    <a href = "tables.html">HTML Tables</a>
                    <a href = "forms.html">Forms</a>
                    <a href = "kingakita/brand.html">Brand</a>
                    <a href = "webevaluations.html">Website Evaluations</a>
                    <a href = "CRAPpY.html">CRaPpy</a>
                    <a href = "accessibility/peh_Accessibility.html">Accessibility</a>
                    <a href = "designproposal.html">Design Proposal</a>
                </div>
            </div>
            <div class = "dropdown">
                <button class = "drop-button">JavaScripts</button>   
                <div class = "drop-content">
                    <a href = "firstscript.html">First JavaScript</a>
                    <a href = "polygons.html">Polygons</a>
                    <a href = "calcprac.html">Calculator Attempt</a>
                    <a href = "calculatorfcc.html">Calculator FCC</a>
                    <a href = "array.html">Arrays</a>
                </div>
            </div>
            <div class = "dropdown">
                <button class = "drop-button">JQuery</button>   
                <div class = "drop-content">
                    <a href = "slideshow.html">Slideshow</a>
                    <a href = "imageswap.html">Image Swap</a>
                    <a href = "Updated-Activity12/peh-Activity12.html">Carousel Application</a>
                </div>
            </div>
            <a href = "hobby/who.html">Hobby Project</a>
            <a href = "projects/home.html">Client Project</a>
        </div>
    </nav>

    <h1>👑 Teh Li Peh 👑 ITIS 3135 👑 King Akita 👑</h1>
</header>